# Numpy, lists and tuples practicum 2/3/2022

### Start by importing numpy:

In [1]:
import numpy as np

#### First create an array x from 100 to 1,000 with a step of 2:

In [2]:
x = np.arange( 100, 1000, 2)

In [3]:
print(x)

[100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134
 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170
 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206
 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242
 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278
 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314
 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350
 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386
 388 390 392 394 396 398 400 402 404 406 408 410 412 414 416 418 420 422
 424 426 428 430 432 434 436 438 440 442 444 446 448 450 452 454 456 458
 460 462 464 466 468 470 472 474 476 478 480 482 484 486 488 490 492 494
 496 498 500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530
 532 534 536 538 540 542 544 546 548 550 552 554 556 558 560 562 564 566
 568 570 572 574 576 578 580 582 584 586 588 590 592 594 596 598 600 602
 604 606 608 610 612 614 616 618 620 622 624 626 628 630 632 634 636 638
 640 642 644 646 648 650 652 654 656 658 660 662 664 666 668 670 672 674
 676 678 680 682 684 686 688 690 692 694 696 698 700 702 704 706 708 710
 712 714 716 718 720 722 724 726 728 730 732 734 736 738 740 742 744 746
 748 750 752 754 756 758 760 762 764 766 768 770 772 774 776 778 780 782
 784 786 788 790 792 794 796 798 800 802 804 806 808 810 812 814 816 818
 820 822 824 826 828 830 832 834 836 838 840 842 844 846 848 850 852 854
 856 858 860 862 864 866 868 870 872 874 876 878 880 882 884 886 888 890
 892 894 896 898 900 902 904 906 908 910 912 914 916 918 920 922 924 926
 928 930 932 934 936 938 940 942 944 946 948 950 952 954 956 958 960 962
 964 966 968 970 972 974 976 978 980 982 984 986 988 990 992 994 996 998]

### then create an array y from 1,000 to 2,800 with a step of 4:

In [4]:
y = np.arange( 1000, 2800, 4)

In [5]:
print(y)

[1000 1004 1008 1012 1016 1020 1024 1028 1032 1036 1040 1044 1048 1052
 1056 1060 1064 1068 1072 1076 1080 1084 1088 1092 1096 1100 1104 1108
 1112 1116 1120 1124 1128 1132 1136 1140 1144 1148 1152 1156 1160 1164
 1168 1172 1176 1180 1184 1188 1192 1196 1200 1204 1208 1212 1216 1220
 1224 1228 1232 1236 1240 1244 1248 1252 1256 1260 1264 1268 1272 1276
 1280 1284 1288 1292 1296 1300 1304 1308 1312 1316 1320 1324 1328 1332
 1336 1340 1344 1348 1352 1356 1360 1364 1368 1372 1376 1380 1384 1388
 1392 1396 1400 1404 1408 1412 1416 1420 1424 1428 1432 1436 1440 1444
 1448 1452 1456 1460 1464 1468 1472 1476 1480 1484 1488 1492 1496 1500
 1504 1508 1512 1516 1520 1524 1528 1532 1536 1540 1544 1548 1552 1556
 1560 1564 1568 1572 1576 1580 1584 1588 1592 1596 1600 1604 1608 1612
 1616 1620 1624 1628 1632 1636 1640 1644 1648 1652 1656 1660 1664 1668
 1672 1676 1680 1684 1688 1692 1696 1700 1704 1708 1712 1716 1720 1724
 1728 1732 1736 1740 1744 1748 1752 1756 1760 1764 1768 1772 1776 1780
 1784 1788 1792 1796 1800 1804 1808 1812 1816 1820 1824 1828 1832 1836
 1840 1844 1848 1852 1856 1860 1864 1868 1872 1876 1880 1884 1888 1892
 1896 1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948
 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004
 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060
 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100 2104 2108 2112 2116
 2120 2124 2128 2132 2136 2140 2144 2148 2152 2156 2160 2164 2168 2172
 2176 2180 2184 2188 2192 2196 2200 2204 2208 2212 2216 2220 2224 2228
 2232 2236 2240 2244 2248 2252 2256 2260 2264 2268 2272 2276 2280 2284
 2288 2292 2296 2300 2304 2308 2312 2316 2320 2324 2328 2332 2336 2340
 2344 2348 2352 2356 2360 2364 2368 2372 2376 2380 2384 2388 2392 2396
 2400 2404 2408 2412 2416 2420 2424 2428 2432 2436 2440 2444 2448 2452
 2456 2460 2464 2468 2472 2476 2480 2484 2488 2492 2496 2500 2504 2508
 2512 2516 2520 2524 2528 2532 2536 2540 2544 2548 2552 2556 2560 2564
 2568 2572 2576 2580 2584 2588 2592 2596 2600 2604 2608 2612 2616 2620
 2624 2628 2632 2636 2640 2644 2648 2652 2656 2660 2664 2668 2672 2676
 2680 2684 2688 2692 2696 2700 2704 2708 2712 2716 2720 2724 2728 2732
 2736 2740 2744 2748 2752 2756 2760 2764 2768 2772 2776 2780 2784 2788
 2792 2796]

### check the shape of x and y:

In [6]:
print( x.shape )
print( y.shape )

(450,)
(450,)

In [7]:
print(len(x))

450

### Create array z equal to the difference of y minus x

In [8]:
z = np.array(y-x)

### print it:

In [9]:
print(z)

[ 900  902  904  906  908  910  912  914  916  918  920  922  924  926
  928  930  932  934  936  938  940  942  944  946  948  950  952  954
  956  958  960  962  964  966  968  970  972  974  976  978  980  982
  984  986  988  990  992  994  996  998 1000 1002 1004 1006 1008 1010
 1012 1014 1016 1018 1020 1022 1024 1026 1028 1030 1032 1034 1036 1038
 1040 1042 1044 1046 1048 1050 1052 1054 1056 1058 1060 1062 1064 1066
 1068 1070 1072 1074 1076 1078 1080 1082 1084 1086 1088 1090 1092 1094
 1096 1098 1100 1102 1104 1106 1108 1110 1112 1114 1116 1118 1120 1122
 1124 1126 1128 1130 1132 1134 1136 1138 1140 1142 1144 1146 1148 1150
 1152 1154 1156 1158 1160 1162 1164 1166 1168 1170 1172 1174 1176 1178
 1180 1182 1184 1186 1188 1190 1192 1194 1196 1198 1200 1202 1204 1206
 1208 1210 1212 1214 1216 1218 1220 1222 1224 1226 1228 1230 1232 1234
 1236 1238 1240 1242 1244 1246 1248 1250 1252 1254 1256 1258 1260 1262
 1264 1266 1268 1270 1272 1274 1276 1278 1280 1282 1284 1286 1288 1290
 1292 1294 1296 1298 1300 1302 1304 1306 1308 1310 1312 1314 1316 1318
 1320 1322 1324 1326 1328 1330 1332 1334 1336 1338 1340 1342 1344 1346
 1348 1350 1352 1354 1356 1358 1360 1362 1364 1366 1368 1370 1372 1374
 1376 1378 1380 1382 1384 1386 1388 1390 1392 1394 1396 1398 1400 1402
 1404 1406 1408 1410 1412 1414 1416 1418 1420 1422 1424 1426 1428 1430
 1432 1434 1436 1438 1440 1442 1444 1446 1448 1450 1452 1454 1456 1458
 1460 1462 1464 1466 1468 1470 1472 1474 1476 1478 1480 1482 1484 1486
 1488 1490 1492 1494 1496 1498 1500 1502 1504 1506 1508 1510 1512 1514
 1516 1518 1520 1522 1524 1526 1528 1530 1532 1534 1536 1538 1540 1542
 1544 1546 1548 1550 1552 1554 1556 1558 1560 1562 1564 1566 1568 1570
 1572 1574 1576 1578 1580 1582 1584 1586 1588 1590 1592 1594 1596 1598
 1600 1602 1604 1606 1608 1610 1612 1614 1616 1618 1620 1622 1624 1626
 1628 1630 1632 1634 1636 1638 1640 1642 1644 1646 1648 1650 1652 1654
 1656 1658 1660 1662 1664 1666 1668 1670 1672 1674 1676 1678 1680 1682
 1684 1686 1688 1690 1692 1694 1696 1698 1700 1702 1704 1706 1708 1710
 1712 1714 1716 1718 1720 1722 1724 1726 1728 1730 1732 1734 1736 1738
 1740 1742 1744 1746 1748 1750 1752 1754 1756 1758 1760 1762 1764 1766
 1768 1770 1772 1774 1776 1778 1780 1782 1784 1786 1788 1790 1792 1794
 1796 1798]

### multiply x by 2, subtract 100 from y and add all this togeter ( (x*2) + (y-100)); assign to variable test1

In [10]:
test1 = (x * 2) + (y - 100)

print(test1)

[1100 1108 1116 1124 1132 1140 1148 1156 1164 1172 1180 1188 1196 1204
 1212 1220 1228 1236 1244 1252 1260 1268 1276 1284 1292 1300 1308 1316
 1324 1332 1340 1348 1356 1364 1372 1380 1388 1396 1404 1412 1420 1428
 1436 1444 1452 1460 1468 1476 1484 1492 1500 1508 1516 1524 1532 1540
 1548 1556 1564 1572 1580 1588 1596 1604 1612 1620 1628 1636 1644 1652
 1660 1668 1676 1684 1692 1700 1708 1716 1724 1732 1740 1748 1756 1764
 1772 1780 1788 1796 1804 1812 1820 1828 1836 1844 1852 1860 1868 1876
 1884 1892 1900 1908 1916 1924 1932 1940 1948 1956 1964 1972 1980 1988
 1996 2004 2012 2020 2028 2036 2044 2052 2060 2068 2076 2084 2092 2100
 2108 2116 2124 2132 2140 2148 2156 2164 2172 2180 2188 2196 2204 2212
 2220 2228 2236 2244 2252 2260 2268 2276 2284 2292 2300 2308 2316 2324
 2332 2340 2348 2356 2364 2372 2380 2388 2396 2404 2412 2420 2428 2436
 2444 2452 2460 2468 2476 2484 2492 2500 2508 2516 2524 2532 2540 2548
 2556 2564 2572 2580 2588 2596 2604 2612 2620 2628 2636 2644 2652 2660
 2668 2676 2684 2692 2700 2708 2716 2724 2732 2740 2748 2756 2764 2772
 2780 2788 2796 2804 2812 2820 2828 2836 2844 2852 2860 2868 2876 2884
 2892 2900 2908 2916 2924 2932 2940 2948 2956 2964 2972 2980 2988 2996
 3004 3012 3020 3028 3036 3044 3052 3060 3068 3076 3084 3092 3100 3108
 3116 3124 3132 3140 3148 3156 3164 3172 3180 3188 3196 3204 3212 3220
 3228 3236 3244 3252 3260 3268 3276 3284 3292 3300 3308 3316 3324 3332
 3340 3348 3356 3364 3372 3380 3388 3396 3404 3412 3420 3428 3436 3444
 3452 3460 3468 3476 3484 3492 3500 3508 3516 3524 3532 3540 3548 3556
 3564 3572 3580 3588 3596 3604 3612 3620 3628 3636 3644 3652 3660 3668
 3676 3684 3692 3700 3708 3716 3724 3732 3740 3748 3756 3764 3772 3780
 3788 3796 3804 3812 3820 3828 3836 3844 3852 3860 3868 3876 3884 3892
 3900 3908 3916 3924 3932 3940 3948 3956 3964 3972 3980 3988 3996 4004
 4012 4020 4028 4036 4044 4052 4060 4068 4076 4084 4092 4100 4108 4116
 4124 4132 4140 4148 4156 4164 4172 4180 4188 4196 4204 4212 4220 4228
 4236 4244 4252 4260 4268 4276 4284 4292 4300 4308 4316 4324 4332 4340
 4348 4356 4364 4372 4380 4388 4396 4404 4412 4420 4428 4436 4444 4452
 4460 4468 4476 4484 4492 4500 4508 4516 4524 4532 4540 4548 4556 4564
 4572 4580 4588 4596 4604 4612 4620 4628 4636 4644 4652 4660 4668 4676
 4684 4692]

### calculate the min of test1, its max and its mean:

In [11]:
print(np.min(test1) , np.max(test1) , np.mean(test1))

1100 4692 2896.0

### print the mean of the base 10 logarithm of x

In [12]:
print(np.mean(np.log10(x)))

2.675704070469898

### 1. Create a numpy array x that goes from 1 up to and including 100 (last element must be 100.0) with a step of 0.1. Verify its type using the type command and its size using the .shape command.  Print x. Print its maximum, minimum and mean. Add 5 to x and print it. Print an array whose values are 10 times larger than x.

In [13]:
x = np.arange(1 , 100.1 , 0.1)

In [42]:
list_new = list(range(0,100,10))
print(list_new)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [41]:
print(type(x))
print(len(x))
print(x.shape)

<class 'numpy.ndarray'>
991
(991,)

In [15]:
print(x)

[  1.    1.1   1.2   1.3   1.4   1.5   1.6   1.7   1.8   1.9   2.    2.1
   2.2   2.3   2.4   2.5   2.6   2.7   2.8   2.9   3.    3.1   3.2   3.3
   3.4   3.5   3.6   3.7   3.8   3.9   4.    4.1   4.2   4.3   4.4   4.5
   4.6   4.7   4.8   4.9   5.    5.1   5.2   5.3   5.4   5.5   5.6   5.7
   5.8   5.9   6.    6.1   6.2   6.3   6.4   6.5   6.6   6.7   6.8   6.9
   7.    7.1   7.2   7.3   7.4   7.5   7.6   7.7   7.8   7.9   8.    8.1
   8.2   8.3   8.4   8.5   8.6   8.7   8.8   8.9   9.    9.1   9.2   9.3
   9.4   9.5   9.6   9.7   9.8   9.9  10.   10.1  10.2  10.3  10.4  10.5
  10.6  10.7  10.8  10.9  11.   11.1  11.2  11.3  11.4  11.5  11.6  11.7
  11.8  11.9  12.   12.1  12.2  12.3  12.4  12.5  12.6  12.7  12.8  12.9
  13.   13.1  13.2  13.3  13.4  13.5  13.6  13.7  13.8  13.9  14.   14.1
  14.2  14.3  14.4  14.5  14.6  14.7  14.8  14.9  15.   15.1  15.2  15.3
  15.4  15.5  15.6  15.7  15.8  15.9  16.   16.1  16.2  16.3  16.4  16.5
  16.6  16.7  16.8  16.9  17.   17.1  17.2  17.3  17.4  17.5  17.6  17.7
  17.8  17.9  18.   18.1  18.2  18.3  18.4  18.5  18.6  18.7  18.8  18.9
  19.   19.1  19.2  19.3  19.4  19.5  19.6  19.7  19.8  19.9  20.   20.1
  20.2  20.3  20.4  20.5  20.6  20.7  20.8  20.9  21.   21.1  21.2  21.3
  21.4  21.5  21.6  21.7  21.8  21.9  22.   22.1  22.2  22.3  22.4  22.5
  22.6  22.7  22.8  22.9  23.   23.1  23.2  23.3  23.4  23.5  23.6  23.7
  23.8  23.9  24.   24.1  24.2  24.3  24.4  24.5  24.6  24.7  24.8  24.9
  25.   25.1  25.2  25.3  25.4  25.5  25.6  25.7  25.8  25.9  26.   26.1
  26.2  26.3  26.4  26.5  26.6  26.7  26.8  26.9  27.   27.1  27.2  27.3
  27.4  27.5  27.6  27.7  27.8  27.9  28.   28.1  28.2  28.3  28.4  28.5
  28.6  28.7  28.8  28.9  29.   29.1  29.2  29.3  29.4  29.5  29.6  29.7
  29.8  29.9  30.   30.1  30.2  30.3  30.4  30.5  30.6  30.7  30.8  30.9
  31.   31.1  31.2  31.3  31.4  31.5  31.6  31.7  31.8  31.9  32.   32.1
  32.2  32.3  32.4  32.5  32.6  32.7  32.8  32.9  33.   33.1  33.2  33.3
  33.4  33.5  33.6  33.7  33.8  33.9  34.   34.1  34.2  34.3  34.4  34.5
  34.6  34.7  34.8  34.9  35.   35.1  35.2  35.3  35.4  35.5  35.6  35.7
  35.8  35.9  36.   36.1  36.2  36.3  36.4  36.5  36.6  36.7  36.8  36.9
  37.   37.1  37.2  37.3  37.4  37.5  37.6  37.7  37.8  37.9  38.   38.1
  38.2  38.3  38.4  38.5  38.6  38.7  38.8  38.9  39.   39.1  39.2  39.3
  39.4  39.5  39.6  39.7  39.8  39.9  40.   40.1  40.2  40.3  40.4  40.5
  40.6  40.7  40.8  40.9  41.   41.1  41.2  41.3  41.4  41.5  41.6  41.7
  41.8  41.9  42.   42.1  42.2  42.3  42.4  42.5  42.6  42.7  42.8  42.9
  43.   43.1  43.2  43.3  43.4  43.5  43.6  43.7  43.8  43.9  44.   44.1
  44.2  44.3  44.4  44.5  44.6  44.7  44.8  44.9  45.   45.1  45.2  45.3
  45.4  45.5  45.6  45.7  45.8  45.9  46.   46.1  46.2  46.3  46.4  46.5
  46.6  46.7  46.8  46.9  47.   47.1  47.2  47.3  47.4  47.5  47.6  47.7
  47.8  47.9  48.   48.1  48.2  48.3  48.4  48.5  48.6  48.7  48.8  48.9
  49.   49.1  49.2  49.3  49.4  49.5  49.6  49.7  49.8  49.9  50.   50.1
  50.2  50.3  50.4  50.5  50.6  50.7  50.8  50.9  51.   51.1  51.2  51.3
  51.4  51.5  51.6  51.7  51.8  51.9  52.   52.1  52.2  52.3  52.4  52.5
  52.6  52.7  52.8  52.9  53.   53.1  53.2  53.3  53.4  53.5  53.6  53.7
  53.8  53.9  54.   54.1  54.2  54.3  54.4  54.5  54.6  54.7  54.8  54.9
  55.   55.1  55.2  55.3  55.4  55.5  55.6  55.7  55.8  55.9  56.   56.1
  56.2  56.3  56.4  56.5  56.6  56.7  56.8  56.9  57.   57.1  57.2  57.3
  57.4  57.5  57.6  57.7  57.8  57.9  58.   58.1  58.2  58.3  58.4  58.5
  58.6  58.7  58.8  58.9  59.   59.1  59.2  59.3  59.4  59.5  59.6  59.7
  59.8  59.9  60.   60.1  60.2  60.3  60.4  60.5  60.6  60.7  60.8  60.9
  61.   61.1  61.2  61.3  61.4  61.5  61.6  61.7  61.8  61.9  62.   62.1
  62.2  62.3  62.4  62.5  62.6  62.7  62.8  62.9  63.   63.1  63.2  63.3
  63.4  63.5  63.6  63.7  63.8  63.9  64.   64.1  64.2  64.3  64.4  64.5
  64.6  64.7  64.8  64.9  65.   65.1  65.2  65.3  65.4  65.5  65.6  65.7
  65.8  65.9  66.   66.1  66.2  66.3  66.4  66.5  66.6  66.7  66.8  66.9
  67.   67.1  67.2  67.3  67.4  67.5  67.6  67.7  67.8  67.9  68.   68.1
  68.2  68.3  68.4  68.5  68.6  68.7  68.8  68.9  69.   69.1  69.2  69.3
  69.4  69.5  69.6  69.7  69.8  69.9  70.   70.1  70.2  70.3  70.4  70.5
  70.6  70.7  70.8  70.9  71.   71.1  71.2  71.3  71.4  71.5  71.6  71.7
  71.8  71.9  72.   72.1  72.2  72.3  72.4  72.5  72.6  72.7  72.8  72.9
  73.   73.1  73.2  73.3  73.4  73.5  73.6  73.7  73.8  73.9  74.   74.1
  74.2  74.3  74.4  74.5  74.6  74.7  74.8  74.9  75.   75.1  75.2  75.3
  75.4  75.5  75.6  75.7  75.8  75.9  76.   76.1  76.2  76.3  76.4  76.5
  76.6  76.7  76.8  76.9  77.   77.1  77.2  77.3  77.4  77.5  77.6  77.7
  77.8  77.9  78.   78.1  78.2  78.3  78.4  78.5  78.6  78.7  78.8  78.9
  79.   79.1  79.2  79.3  79.4  79.5  79.6  79.7  79.8  79.9  80.   80.1
  80.2  80.3  80.4  80.5  80.6  80.7  80.8  80.9  81.   81.1  81.2  81.3
  81.4  81.5  81.6  81.7  81.8  81.9  82.   82.1  82.2  82.3  82.4  82.5
  82.6  82.7  82.8  82.9  83.   83.1  83.2  83.3  83.4  83.5  83.6  83.7
  83.8  83.9  84.   84.1  84.2  84.3  84.4  84.5  84.6  84.7  84.8  84.9
  85.   85.1  85.2  85.3  85.4  85.5  85.6  85.7  85.8  85.9  86.   86.1
  86.2  86.3  86.4  86.5  86.6  86.7  86.8  86.9  87.   87.1  87.2  87.3
  87.4  87.5  87.6  87.7  87.8  87.9  88.   88.1  88.2  88.3  88.4  88.5
  88.6  88.7  88.8  88.9  89.   89.1  89.2  89.3  89.4  89.5  89.6  89.7
  89.8  89.9  90.   90.1  90.2  90.3  90.4  90.5  90.6  90.7  90.8  90.9
  91.   91.1  91.2  91.3  91.4  91.5  91.6  91.7  91.8  91.9  92.   92.1
  92.2  92.3  92.4  92.5  92.6  92.7  92.8  92.9  93.   93.1  93.2  93.3
  93.4  93.5  93.6  93.7  93.8  93.9  94.   94.1  94.2  94.3  94.4  94.5
  94.6  94.7  94.8  94.9  95.   95.1  95.2  95.3  95.4  95.5  95.6  95.7
  95.8  95.9  96.   96.1  96.2  96.3  96.4  96.5  96.6  96.7  96.8  96.9
  97.   97.1  97.2  97.3  97.4  97.5  97.6  97.7  97.8  97.9  98.   98.1
  98.2  98.3  98.4  98.5  98.6  98.7  98.8  98.9  99.   99.1  99.2  99.3
  99.4  99.5  99.6  99.7  99.8  99.9 100. ]

In [16]:
print( np.min(x) , np.max(x) , np.mean(x))

1.0 100.00000000000009 50.500000000000036

In [17]:
x = x + 5
print(x[0])

6.0

In [18]:
print( x * 10)

[  60.   61.   62.   63.   64.   65.   66.   67.   68.   69.   70.   71.
   72.   73.   74.   75.   76.   77.   78.   79.   80.   81.   82.   83.
   84.   85.   86.   87.   88.   89.   90.   91.   92.   93.   94.   95.
   96.   97.   98.   99.  100.  101.  102.  103.  104.  105.  106.  107.
  108.  109.  110.  111.  112.  113.  114.  115.  116.  117.  118.  119.
  120.  121.  122.  123.  124.  125.  126.  127.  128.  129.  130.  131.
  132.  133.  134.  135.  136.  137.  138.  139.  140.  141.  142.  143.
  144.  145.  146.  147.  148.  149.  150.  151.  152.  153.  154.  155.
  156.  157.  158.  159.  160.  161.  162.  163.  164.  165.  166.  167.
  168.  169.  170.  171.  172.  173.  174.  175.  176.  177.  178.  179.
  180.  181.  182.  183.  184.  185.  186.  187.  188.  189.  190.  191.
  192.  193.  194.  195.  196.  197.  198.  199.  200.  201.  202.  203.
  204.  205.  206.  207.  208.  209.  210.  211.  212.  213.  214.  215.
  216.  217.  218.  219.  220.  221.  222.  223.  224.  225.  226.  227.
  228.  229.  230.  231.  232.  233.  234.  235.  236.  237.  238.  239.
  240.  241.  242.  243.  244.  245.  246.  247.  248.  249.  250.  251.
  252.  253.  254.  255.  256.  257.  258.  259.  260.  261.  262.  263.
  264.  265.  266.  267.  268.  269.  270.  271.  272.  273.  274.  275.
  276.  277.  278.  279.  280.  281.  282.  283.  284.  285.  286.  287.
  288.  289.  290.  291.  292.  293.  294.  295.  296.  297.  298.  299.
  300.  301.  302.  303.  304.  305.  306.  307.  308.  309.  310.  311.
  312.  313.  314.  315.  316.  317.  318.  319.  320.  321.  322.  323.
  324.  325.  326.  327.  328.  329.  330.  331.  332.  333.  334.  335.
  336.  337.  338.  339.  340.  341.  342.  343.  344.  345.  346.  347.
  348.  349.  350.  351.  352.  353.  354.  355.  356.  357.  358.  359.
  360.  361.  362.  363.  364.  365.  366.  367.  368.  369.  370.  371.
  372.  373.  374.  375.  376.  377.  378.  379.  380.  381.  382.  383.
  384.  385.  386.  387.  388.  389.  390.  391.  392.  393.  394.  395.
  396.  397.  398.  399.  400.  401.  402.  403.  404.  405.  406.  407.
  408.  409.  410.  411.  412.  413.  414.  415.  416.  417.  418.  419.
  420.  421.  422.  423.  424.  425.  426.  427.  428.  429.  430.  431.
  432.  433.  434.  435.  436.  437.  438.  439.  440.  441.  442.  443.
  444.  445.  446.  447.  448.  449.  450.  451.  452.  453.  454.  455.
  456.  457.  458.  459.  460.  461.  462.  463.  464.  465.  466.  467.
  468.  469.  470.  471.  472.  473.  474.  475.  476.  477.  478.  479.
  480.  481.  482.  483.  484.  485.  486.  487.  488.  489.  490.  491.
  492.  493.  494.  495.  496.  497.  498.  499.  500.  501.  502.  503.
  504.  505.  506.  507.  508.  509.  510.  511.  512.  513.  514.  515.
  516.  517.  518.  519.  520.  521.  522.  523.  524.  525.  526.  527.
  528.  529.  530.  531.  532.  533.  534.  535.  536.  537.  538.  539.
  540.  541.  542.  543.  544.  545.  546.  547.  548.  549.  550.  551.
  552.  553.  554.  555.  556.  557.  558.  559.  560.  561.  562.  563.
  564.  565.  566.  567.  568.  569.  570.  571.  572.  573.  574.  575.
  576.  577.  578.  579.  580.  581.  582.  583.  584.  585.  586.  587.
  588.  589.  590.  591.  592.  593.  594.  595.  596.  597.  598.  599.
  600.  601.  602.  603.  604.  605.  606.  607.  608.  609.  610.  611.
  612.  613.  614.  615.  616.  617.  618.  619.  620.  621.  622.  623.
  624.  625.  626.  627.  628.  629.  630.  631.  632.  633.  634.  635.
  636.  637.  638.  639.  640.  641.  642.  643.  644.  645.  646.  647.
  648.  649.  650.  651.  652.  653.  654.  655.  656.  657.  658.  659.
  660.  661.  662.  663.  664.  665.  666.  667.  668.  669.  670.  671.
  672.  673.  674.  675.  676.  677.  678.  679.  680.  681.  682.  683.
  684.  685.  686.  687.  688.  689.  690.  691.  692.  693.  694.  695.
  696.  697.  698.  699.  700.  701.  702.  703.  704.  705.  706.  707.
  708.  709.  710.  711.  712.  713.  714.  715.  716.  717.  718.  719.
  720.  721.  722.  723.  724.  725.  726.  727.  728.  729.  730.  731.
  732.  733.  734.  735.  736.  737.  738.  739.  740.  741.  742.  743.
  744.  745.  746.  747.  748.  749.  750.  751.  752.  753.  754.  755.
  756.  757.  758.  759.  760.  761.  762.  763.  764.  765.  766.  767.
  768.  769.  770.  771.  772.  773.  774.  775.  776.  777.  778.  779.
  780.  781.  782.  783.  784.  785.  786.  787.  788.  789.  790.  791.
  792.  793.  794.  795.  796.  797.  798.  799.  800.  801.  802.  803.
  804.  805.  806.  807.  808.  809.  810.  811.  812.  813.  814.  815.
  816.  817.  818.  819.  820.  821.  822.  823.  824.  825.  826.  827.
  828.  829.  830.  831.  832.  833.  834.  835.  836.  837.  838.  839.
  840.  841.  842.  843.  844.  845.  846.  847.  848.  849.  850.  851.
  852.  853.  854.  855.  856.  857.  858.  859.  860.  861.  862.  863.
  864.  865.  866.  867.  868.  869.  870.  871.  872.  873.  874.  875.
  876.  877.  878.  879.  880.  881.  882.  883.  884.  885.  886.  887.
  888.  889.  890.  891.  892.  893.  894.  895.  896.  897.  898.  899.
  900.  901.  902.  903.  904.  905.  906.  907.  908.  909.  910.  911.
  912.  913.  914.  915.  916.  917.  918.  919.  920.  921.  922.  923.
  924.  925.  926.  927.  928.  929.  930.  931.  932.  933.  934.  935.
  936.  937.  938.  939.  940.  941.  942.  943.  944.  945.  946.  947.
  948.  949.  950.  951.  952.  953.  954.  955.  956.  957.  958.  959.
  960.  961.  962.  963.  964.  965.  966.  967.  968.  969.  970.  971.
  972.  973.  974.  975.  976.  977.  978.  979.  980.  981.  982.  983.
  984.  985.  986.  987.  988.  989.  990.  991.  992.  993.  994.  995.
  996.  997.  998.  999. 1000. 1001. 1002. 1003. 1004. 1005. 1006. 1007.
 1008. 1009. 1010. 1011. 1012. 1013. 1014. 1015. 1016. 1017. 1018. 1019.
 1020. 1021. 1022. 1023. 1024. 1025. 1026. 1027. 1028. 1029. 1030. 1031.
 1032. 1033. 1034. 1035. 1036. 1037. 1038. 1039. 1040. 1041. 1042. 1043.
 1044. 1045. 1046. 1047. 1048. 1049. 1050.]

### 2. Create an array y that is the base 10 logarithm of x. Print y. Print the 10th to 24th elements of x and y. Create an array z that is the same as y. Change the 30th to 140th elements of z to be the 1/10 of their current value and the 500th to 600th elements of z to be 10 times larger than their current value. Print z from the 600th element to the 100th element going backwards with a step of 50 (so the 600th, 550th, 500th etc element).

### 3. Create array base1 that goes from 100 to 600 with a step of 2. Create array base2 that goes from 75.5 to 0.5 with a step of -0.3. Assuming that base1 is the one side of a (orthogonal parallelogram) field and base2 the other side, calculate the surface area of all fields (field_surface). How many fields are there in your sample? How many unique surface areas are there in your sample?

In [19]:
base1 = np.arange( 100 , 600 , 2 )
base2 = np.arange( 75.5 , 0.5 , -0.3 )

In [20]:
print( len( base1 ) , len( base2 ))

250 250

In [21]:
field_surface = base1 * base2 


print(field_surface)

print(len(field_surface))

print(np.unique(field_surface))

print( len(np.unique(field_surface)))

[ 7550.   7670.4  7789.6  7907.6  8024.4  8140.   8254.4  8367.6  8479.6
  8590.4  8700.   8808.4  8915.6  9021.6  9126.4  9230.   9332.4  9433.6
  9533.6  9632.4  9730.   9826.4  9921.6 10015.6 10108.4 10200.  10290.4
 10379.6 10467.6 10554.4 10640.  10724.4 10807.6 10889.6 10970.4 11050.
 11128.4 11205.6 11281.6 11356.4 11430.  11502.4 11573.6 11643.6 11712.4
 11780.  11846.4 11911.6 11975.6 12038.4 12100.  12160.4 12219.6 12277.6
 12334.4 12390.  12444.4 12497.6 12549.6 12600.4 12650.  12698.4 12745.6
 12791.6 12836.4 12880.  12922.4 12963.6 13003.6 13042.4 13080.  13116.4
 13151.6 13185.6 13218.4 13250.  13280.4 13309.6 13337.6 13364.4 13390.
 13414.4 13437.6 13459.6 13480.4 13500.  13518.4 13535.6 13551.6 13566.4
 13580.  13592.4 13603.6 13613.6 13622.4 13630.  13636.4 13641.6 13645.6
 13648.4 13650.  13650.4 13649.6 13647.6 13644.4 13640.  13634.4 13627.6
 13619.6 13610.4 13600.  13588.4 13575.6 13561.6 13546.4 13530.  13512.4
 13493.6 13473.6 13452.4 13430.  13406.4 13381.6 13355.6 13328.4 13300.
 13270.4 13239.6 13207.6 13174.4 13140.  13104.4 13067.6 13029.6 12990.4
 12950.  12908.4 12865.6 12821.6 12776.4 12730.  12682.4 12633.6 12583.6
 12532.4 12480.  12426.4 12371.6 12315.6 12258.4 12200.  12140.4 12079.6
 12017.6 11954.4 11890.  11824.4 11757.6 11689.6 11620.4 11550.  11478.4
 11405.6 11331.6 11256.4 11180.  11102.4 11023.6 10943.6 10862.4 10780.
 10696.4 10611.6 10525.6 10438.4 10350.  10260.4 10169.6 10077.6  9984.4
  9890.   9794.4  9697.6  9599.6  9500.4  9400.   9298.4  9195.6  9091.6
  8986.4  8880.   8772.4  8663.6  8553.6  8442.4  8330.   8216.4  8101.6
  7985.6  7868.4  7750.   7630.4  7509.6  7387.6  7264.4  7140.   7014.4
  6887.6  6759.6  6630.4  6500.   6368.4  6235.6  6101.6  5966.4  5830.
  5692.4  5553.6  5413.6  5272.4  5130.   4986.4  4841.6  4695.6  4548.4
  4400.   4250.4  4099.6  3947.6  3794.4  3640.   3484.4  3327.6  3169.6
  3010.4  2850.   2688.4  2525.6  2361.6  2196.4  2030.   1862.4  1693.6
  1523.6  1352.4  1180.   1006.4   831.6   655.6   478.4]
250
[  478.4   655.6   831.6  1006.4  1180.   1352.4  1523.6  1693.6  1862.4
  2030.   2196.4  2361.6  2525.6  2688.4  2850.   3010.4  3169.6  3327.6
  3484.4  3640.   3794.4  3947.6  4099.6  4250.4  4400.   4548.4  4695.6
  4841.6  4986.4  5130.   5272.4  5413.6  5553.6  5692.4  5830.   5966.4
  6101.6  6235.6  6368.4  6500.   6630.4  6759.6  6887.6  7014.4  7140.
  7264.4  7387.6  7509.6  7550.   7630.4  7670.4  7750.   7789.6  7868.4
  7907.6  7985.6  8024.4  8101.6  8140.   8216.4  8254.4  8330.   8367.6
  8442.4  8479.6  8553.6  8590.4  8663.6  8700.   8772.4  8808.4  8880.
  8915.6  8986.4  9021.6  9091.6  9126.4  9195.6  9230.   9298.4  9332.4
  9400.   9433.6  9500.4  9533.6  9599.6  9632.4  9697.6  9730.   9794.4
  9826.4  9890.   9921.6  9984.4 10015.6 10077.6 10108.4 10169.6 10200.
 10260.4 10290.4 10350.  10379.6 10438.4 10467.6 10525.6 10554.4 10611.6
 10640.  10696.4 10724.4 10780.  10807.6 10862.4 10889.6 10943.6 10970.4
 11023.6 11050.  11102.4 11128.4 11180.  11205.6 11256.4 11281.6 11331.6
 11356.4 11405.6 11430.  11478.4 11502.4 11550.  11573.6 11620.4 11643.6
 11689.6 11712.4 11757.6 11780.  11824.4 11846.4 11890.  11911.6 11954.4
 11975.6 12017.6 12038.4 12079.6 12100.  12140.4 12160.4 12200.  12219.6
 12258.4 12277.6 12315.6 12334.4 12371.6 12390.  12426.4 12444.4 12480.
 12497.6 12532.4 12549.6 12583.6 12600.4 12633.6 12650.  12682.4 12698.4
 12730.  12745.6 12776.4 12791.6 12821.6 12836.4 12865.6 12880.  12908.4
 12922.4 12950.  12963.6 12990.4 13003.6 13029.6 13042.4 13067.6 13080.
 13104.4 13116.4 13140.  13151.6 13174.4 13185.6 13207.6 13218.4 13239.6
 13250.  13270.4 13280.4 13300.  13309.6 13328.4 13337.6 13355.6 13364.4
 13381.6 13390.  13406.4 13414.4 13430.  13437.6 13452.4 13459.6 13473.6
 13480.4 13493.6 13500.  13512.4 13518.4 13530.  13535.6 13546.4 13551.6
 13561.6 13566.4 13575.6 13580.  13588.4 13592.4 13600.  13603.6 13610.4
 13613.6 13619.6 13622.4 13627.6 13630.  13634.4 13636.4 13640.  13641.6
 13644.4 13645.6 13647.6 13648.4 13649.6 13650.  13650.4]
250

### One of the great features of numpy is that it also allows you to read data in an array in a single command. You do that with np.loadtxt( "name_of_file" ) [see also: https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html ] or np.genfromtxt("name_of_file") [see also: https://numpy.org/doc/stable/reference/generated/numpy.genfromtxt.html ]. E.g., get file *my_first_data.dat* from the Webcouses/demos/ . Open it with a text editor to see what it looks like. Read it in an array *all_input_data* with loadtxt or genfromtxt. Check what your array looks like. Print all times each car traveled. Print all distances the cars traveled. Calculate the distance each car traveled **in a single line** and asign it to array *distances_traveled*. Print *distances_traveled*

In [22]:
all_input_data = np.loadtxt( 'my_first_data.dat', comments= '#' )

#all_input_data2 = np.genfromtxt

In [23]:
# Car_number  Time [hr]  Speed [mph]
print( all_input_data )

[[  1.    5.2 120.2]
 [  2.    3.1 110. ]
 [  3.    2.4 100.5]
 [  4.    5.1  65.3]
 [  5.    2.4 119.6]]

In [24]:
print( all_input_data[ : , 2]) #prints only the velocity

[120.2 110.  100.5  65.3 119.6]

In [25]:
distances_traveled = all_input_data[ : , 2] * all_input_data[ : , 1]

print(distances_traveled)

[625.04 341.   241.2  333.03 287.04]

### Now let's try the genfromtxt with data: *test_genfromtxt.dat*. Read data into variable student_data. Print the IDs of the students. Print the average quiz  grade for student 202204. Print the average exam quiz and the IDs of all students that passed the class with a C- or better ( average total of more than 7.0).

In [26]:
stu_data = np.genfromtxt('test_genfromtxt.dat')

In [27]:
print(stu_data)

[[2.02201e+05 8.10000e+00 8.40000e+00 8.20000e+00]
 [2.02202e+05 7.50000e+00 7.00000e+00 7.30000e+00]
 [2.02203e+05 7.90000e+00 8.50000e+00 8.40000e+00]
 [2.02204e+05 9.50000e+00 9.70000e+00 9.70000e+00]
 [2.02205e+05 5.30000e+00 6.00000e+00 5.90000e+00]
 [2.02206e+05 5.10000e+00 7.10000e+00 6.80000e+00]]

In [28]:
#student ID AVG-Grade-Quiz AVG-Grade_Exam AVG-Total

In [29]:
print(stu_data[ : , 0])

[202201. 202202. 202203. 202204. 202205. 202206.]

In [30]:
print( stu_data[ 3 , 1 ] )

9.5

In [31]:
print(np.where(stu_data[ : , 3 ]>7 ) ) 
print( stu_data[ : , 3 ]>7)

(array([0, 1, 2, 3], dtype=int64),)
[ True  True  True  True False False]

In [50]:
print( stu_data[stu_data[ : , 3 ]>7,1])

[8.1 7.5 7.9 9.5]

### 4. You just opened a new savings account that earns N percent interest per year. The interest that you earn is paid at the end of the year, and is added to the balance of the savings account. Write a *function end_of_year_interest* that takes as input the interest N and a single list *deposits_list* that containts the amount of money deposited into the account from the user at the start of years 1, 2 and 3 (assume this is the only deposit to the account). The function should then calculate the amount in the savings account at the end of years 1, 2 and 3 and print it out. Call the function for an interest rate of 2% and deposits of 100, 300 and 500.

In [33]:
#put your function here:

def end_of_year_interest( N , deposits_list):
    """Calculates the amount of savings in account at the end of the years 1,2, and 3.
    INPUT: rate[%] , list of deposits
    OUTPUT: list of deposits (and prints of deposits)"""
    
    year1_interest = deposits_list[ 0 ] * ( N / 100 )
    year1_final = deposits_list[ 0 ] * (1 + ( N / 100 ) )
    
    year2_interest = ( year1_final + deposits_list[ 1 ] ) * ( N / 100 )
    year2_final = ( year1_final + deposits_list[ 1 ] ) * ( 1 + ( N / 100 ) )
    
    year3_interest = ( year2_final + deposits_list[ 2 ] ) * ( N / 100 ) 
    year3_final = ( year2_final + deposits_list[ 2 ] ) * ( 1 + ( N / 100 ) )
    
    print(f'At the end of each year have { year1_final , year2_final , year3_final }')
    
    return [ year1_final , year2_final , year3_final ]

In [34]:
#call it here:

interest = 2

deposits = [ 100 , 300 , 500 ]

final_3years = end_of_year_interest( interest , deposits )

print(final_3years)

At the end of each year have (102.0, 410.04, 928.2408)
[102.0, 410.04, 928.2408]

In [35]:
print(N)

NameError: name 'N' is not defined

### 5. Create a program that calculates how fast an object moves [ m/s ] when falling to the ground from a height h. Assume that the body free falls with initial speed 0 m/s, so that u$_{final}$ = $\sqrt(2 * g * h)$, where g = 9.8 $m/s^2$ and h is in m. Start by creating a numpy array of heights from 3 m to 100m with a step of 2.5 (average height of a floor). Create a variable u_final that calculates the final speed of the falling object from **all** heights in **one** line. Print it

In [ ]:
#make the array of the heights

#define g

# the expression you want is u_final = np.sqrt( 2 * g * heights) so:

h = np.arange( 3 , 102 , 2.5 )

g = 9.8 # m/s^2

u_final = np.sqrt(2 * g * h)

In [ ]:
print(u_final)

### 6. Create a list *test_list_1* that contains the numbers 1, 2, 5, 7, 22, 34, 42. Print it. Change 22 to -10 (don't just copy-paste and change it in the series, access the appropriate element of test_list_1 and change it). Print the mutated list. Add elements 96 and 102 to the end of the list. Add 0 to the start.

In [ ]:
list_1 = [ 1 , 2 , 5 , 7 , 22 , 34 , 42 ]
print(list_1)

In [ ]:
list_1[4] = -10

In [ ]:
print(list_1)

In [ ]:
list_1.extend( [ 96 , 102 ])

print(list_1)

In [ ]:
list_1 = [0] + list_1
print(list_1)

### 7. Create a tuple *trip_time* that contains the amount of hours a trip takes. Create a tuple *trip_distance* that contains the distance of a given trip in km. <br> Populate *trip_time* with numbers: 1.5, 3.2, 5.6, 14.3, 26.4 and *trip_distance* with 180, 320, 728, 1573, 3326. Calculate the average speed (remember it is distance/time) of each trip. Can you use plain division of the tuples in a single line to do it? Why/why not? <br> After each calculation store the average speed in a tuple called *trip_average_speed* ("append" each calculation to the previous tuple). Is the tuple you have at the end, the same as at the start? Why/why not? <br> You just realized you made a typo, and the 728 should have been 718! Change the tuple accordingly (and properly) and recalculate and print the new *trip_average_speed* tuple.

In [ ]:
#make tuples for time and distance:

In [ ]:
#try:

In [ ]:
#make tuple for speed:

In [ ]:
# print final speed tuple
print( trip_average_speed)  # no, the final trip_average_speed is not the same as the start, 
                            #you can check with ID
                            # remember that tuples are immutable, every change means we create a new tuple

In [ ]:
# print final speed tuple

In [ ]:
### also, yes, you can kind of do it in a single line but not in a way we have seen yet, e.g.:
#from operator import truediv 
#trip_average_test_one_line = tuple( map( truediv, trip_distance , trip_time ) )  
#print( trip_average_test_one_line )

In [ ]:
# now let's change the element; remember tuples are immutable!
#inital was trip_distance = ( 180, 320, 728, 1573, 3326 ) --> need to change trip_distance[ 2 ]

In [ ]:
print( trip_distance )

In [ ]:
# you can now just do the same trick, looks a bit ugly, for the average speed:
trip_average_speed = trip_average_speed[ 0 : 2] + \
                     ( trip_distance[ 2 ] / trip_time [ 2 ], ) + \
                     trip_average_speed[ 3: ]

In [ ]:
print( trip_average_speed )

### 8. It's storm season, so let's create a code that calculates the distance to where lightning strucks. Create function *thunderstruck* that calculates the distance from you of the point where lightning struck. Remember that lightning travels with the speed of light, so you can assume you see it instantaneously (as soon as it happens). Thunder on the other hand travels with the speed of sound, at $u_{sound} = 343$  m/s or $1088$ feet/s.  Remember to write an informative docstring. 

1) Discuss: what should the input of the function be? What should be its output?

2) Print the docstring

3) You hear the roar of thunder 5s after you see the lightning. How far away was the strike (in feet)?

4) You hear the roar of thunder 12s after you saw the lightning. Where did it hit in miles ( 1miles = 5280 feet )?

### 9. Open a text editor and save it as *all_my_functions.py*. Copy in there the function *acceleration* from HW your HW and from this practicum the functions *end_of_year_interest* and *thunderstruck*. Change the names of the functions by adding a *_fromfile* at the end of each. <br> In a single command import *acceleration_fromfile* and *enf_of_year_interest_fromfile* and *thunderstruck_fromfile*. Call the latter for the case you hear a thunder 10s after you see the lightning. 

#### Note that if you are using numpy in these functions you will need to start your all_my_functions.py with importing numpy as np.

### C. The Body Mass Index is one of the available measures of how healthy a person is. It is defined as the ratio of a person's weight in kg, over the square of their height in m. Make a function BMI that uses the height and weight of a person and returns their BMI. 

### Make a list heights that contains the heights of people, and a list weights that containts their weights. Populate them with heights: 1.60, 2.10 and 1.80 and weights 60, 120 and 81.

### Call the function BMI for all three people and print their BMI.

###  Create a list *student_h* that contains the heights of students in feet and inches. A person being 5' 6" would be noted as 5.06, a person being 5' 10" would be noted as 5.10. Populate it with the following values: 5.01, 4.10, 6.02, 5.07, 6.11.  Create a function ft_to_m_cm that takes as input a value from *student_h* and returns each height in a list [m, cm] (round cm up). Call the function for all values of *student_h* and print the results with an informative sentence (e.g., Student 1 has a height of 1 m 10 cm ) <br>  (1 ft ~= 0.3048 m and 1 inch ~= 0.0254 m and 1m has 100cm).

In [ ]:
#make student_h list:

In [ ]:
#make your function:

In [ ]:
#calculate the heights in m and cm and print with informative statement:

### Now change the function (make a copy function ft_to_m2) to accept the height as a list [height_ft, height_inches] and adapt the function accordingly...Call it for a student with a height 6' 11" and a student with a height of 5' 6"

In [ ]:
#make function that takes as input a LIST with feet, inches

In [ ]:
#call it for student 6'11":

In [ ]:
#call it for student 5' 6":